[submodule "fedora-pkgs"]
	path = fedora-pkgs
	url = git@github.com:ffimnsr/launchpad-fedora-pkgs.git
[submodule "rust/nft-scraper"]
	path = rust/nft-scraper-rs-v1
	url = git@github.com:ffimnsr-archive/nft-scraper.git
[submodule "rust/ea-rs"]
	path = rust/ea-rs-v1
	url = git@github.com:ffimnsr-archive/ea-rs.git
[submodule "rust/indexer-rs-v1"]
	path = rust/indexer-rs-v1
	url = git@github.com:ffimnsr-archive/indexer-rs.git
[submodule "rust/simple-webservice-rs-v1"]
	path = rust/simple-webservice-rs-v1
	url = git@github.com:ffimnsr-archive/simple-webservice-rs.git
[submodule "rust/random-cloud-worker-rs-v1"]
	path = rust/random-cloud-worker-rs-v1
	url = git@github.com:ffimnsr-archive/random-cloud-worker-rs.git
[submodule "rust/passport-rs-v1"]
	path = rust/passport-rs-v1
	url = git@github.com:ffimnsr-archive/passport.git
[submodule "github/ffimnsr.github.io"]
	path = github/ffimnsr.github.io
	url = git@github.com:ffimnsr/ffimnsr.github.io.git
[submodule "github/ffimnsr"]
	path = github/ffimnsr
	url = git@github.com:ffimnsr/ffimnsr.git
[submodule "github/curriculum-vitae"]
	path = github/curriculum-vitae
	url = git@github.com:ffimnsr/curriculum-vitae.git
[submodule "rust/solana-e-rs"]
	path = rust/solana-e-rs
	url = git@github.com:ffimnsr/solana-e-rs.git
[submodule "rust/firefly-tg-bot-rs"]
	path = rust/firefly-tg-bot-rs
	url = git@github.com:ffimnsr/firefly-tg-bot-rs.git
[submodule "rust/midas-rs"]
	path = rust/midas-rs
	url = git@github.com:ffimnsr/midas-rs.git
[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:ffimnsr/dotfiles.git
