[submodule "fedora-pkgs"]
	path = fedora-pkgs
	url = git@github.com:ffimnsr/launchpad-fedora-pkgs.git
[submodule "rust/nft-scraper"]
	path = rust/nft-scraper
	url = git@github.com:ffimnsr-archive/nft-scraper.git
[submodule "rust/ea-rs"]
	path = rust/ea-rs
	url = git@github.com:ffimnsr-archive/ea-rs.git
[submodule "rust/indexer-rs-v1"]
	path = rust/indexer-rs-v1
	url = git@github.com:ffimnsr-archive/indexer-rs.git
[submodule "rust/simple-webservice-rs-v1"]
	path = rust/simple-webservice-rs-v1
	url = git@github.com:ffimnsr-archive/simple-webservice-rs.git
[submodule "rust/random-cloud-worker-rs-v1"]
	path = rust/random-cloud-worker-rs-v1
	url = git@github.com:ffimnsr-archive/random-cloud-worker-rs.git
[submodule "rust/passport-rs-v1"]
	path = rust/passport-rs-v1
	url = git@github.com:ffimnsr-archive/passport.git
